@import url(./Components/Home.scss);

html {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Rubik", rubik;
  background-color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

#root {
  height: 100%;
}
